# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\git\widgetkit-slideshow-ex\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
